<!-- app/views/messages/_message.html.erb -->
<% if message && message.user %>
  <div class="message <%= message.user == current_user ? 'current-user' : 'other-user' %>">
    <strong><%= message.user.name %>:</strong>
    <%= message.content %>
    <div class="text-muted small">
      <%= message.created_at.strftime("%b %e, %l:%M %p") %>
    </div>
  </div>
<% end %>